#RightPostList {
  padding-top: 0 !important;
}

#LeftMenu {
  height: 255px !important;
}

.PostItem {
  margin: 25px 0;
  cursor: pointer;
}

#createPost {
  width: 100px;
  z-index: 2;
  margin-left: auto;
}
